.font-size {
  &-2em {
    font-size: 2em !important;
  }
}

.img-size {
  &-2em {
    width: 2em;
    height: 2em;
  }
  &-4em {
    width: 4em;
    height: 4em;
  }
}

.w {
  &-5 {
    width: 5%;
  }
  &-10 {
    width: 10%;
  }
  &-7-em {
    width: 7em!important;
  }
  &-60 {
    width: 60%;
  }
}
