<div class="modal fade top"" id="dialog_exam" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2"><%= t('.content_html')%></p>
          <%= link_to t('.submit'), '#', class: "btn btn-sm btn-outline-success", id: 'redirect_btn' %>
        </div>
      </div>
    </div>
  </div>
</div>
